<div class="col-md-6 col-sm-12">
    <div class="card">
        <a href="/events/edit/<%= eventId; %>">
            <div style="color: white" class="card-header bg-amber bg-darken-3">
                <h4 class="card-title"><%= cardTitle %></h4>
            </div>
        </a>
        <div class="card-body collapse in">
            <div class="card-block">
                <p><label>Organisation name:</label>  <%= cardElement1 %></p>
                <p><label>Hashtags:</label>  <%= cardElement2 %></p>
                <p><label>Address:</label>  <%= cardElement3 %></p>
                <p><label>Start date:</label>  <%= cardElement4 %></p>
                <p><label>Start time:</label>  <%= cardElement5 %></p>
                <p><label>End date:</label>  <%= cardElement6 %></p>
                <p><label>End time:</label>  <%= cardElement7 %></p>
                <p><label>Description:</label>  <%= cardElement8 %></p>
            </div>
        </div>
    </div>
</div>