<% var months = ["January", "February", "March", "April", "May", "June", "July","August", "September", "October","November", "December"]; %>

<div id="<%= cardId %>" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="col-md-12">

        <!-- Modal Content-->
            <div class="row"> <!-- Org Card + Facebook -->
                <div class="fb-page col-md-6" data-width="400px" data-height="475px" data-href="<%= org.facebook %>" data-tabs="timeline, events" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"></div>
                <div class="col-md-6">
                    <div class="card modal-content"> 
                        <div style="color: white" class="card-header bg-teal bg-lighten-1"> <!-- card header-->
                            <h4 class="card-title"><%= org.name %></h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">		
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <p><lable>Organisation's Description: </lable><b><%= org.desc %></b></p>
                                <p><label>Hashtags:</label>
                                    <% var hashtags = org.hashtags; %>
                                        <% hashtags.forEach (hashtag => { %>
                                            <% var isMatch = false; %>
                                            <% criteriaList.forEach(criteria => { %>
                                            <% if (hashtag.includes(criteria) && !isMatch) { %>
                                                <% isMatch = true; %>
                                                <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                            <% } %>
                                            <% }); %>
                                            <% if (!isMatch) { %>
                                            <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                        <% } %>
                                    <% }); %>
                                </p>  
                                <p><label>Facebook: </label>
                                    <b>
                                    <% if (org.facebook != "") { %>
                                        <a href="<%= org.facebook %>"><i class="ft-facebook"></i></a>
                                    <% } else { %>
                                        N/A
                                    <% } %>
                                    </b>
                                </p>
                                <p><label>Website: </label>
                                    <b>
                                        <% if (org.website != "") { %>
                                            <a href="<%= org.website %>"><i class="ft-globe"></i></a>
                                        <% } else { %>
                                            N/A
                                        <% } %>             
                                    </b>
                                </p>
                                <p><label>Email: </label>
                                    <b>
                                        <% if (org.email != "") { %>
                                            <%= org.email %>
                                        <% } else { %>
                                            N/A
                                        <% } %>             
                                    </b>
                                </p>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row"> <!-- Jobs and events --> 
                <div class="col-xl-4 col-lg-12">
                    <!-- Jobs -->
                    <div class="modal-content">
                        <div class="card">
                            <div style="color: white" class="card-header bg-blue bg-accent-2">
                                <h4 class="card-title"><i class="ft-clipboard"></i> Jobs</h4>
                                <a class="heading-elements-toggle">
                                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                                </a>
                            </div>
                            <div style="display: block; max-height: 200px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;" class="card-body collapse-in">
                                <% let jobCount = 0; %>
                                <% jobs.forEach(job => { %>
                                    <% if(job.org_name == org.name) { %>
                                    <div style="margin: 5px; padding: 10px; border-bottom: 2px solid #92a8d1" class="container-fluid">
                                        <h4><strong><%= job.name %></strong></h4>
                                        <h5 style="font-style: italic">-<%= job.org_name %>-</h5>
                                        <h6>Deadline: <%= months[job.app_deadline.getMonth()] + ' ' + job.app_deadline.getDate() + ', ' + job.app_deadline.getFullYear() %></h6>
                                        <% job.hashtags.forEach(hashtag => { %>
                                            <% var isMatch = false; %>
                                            <% criteriaList.forEach(criteria => { %>
                                                <% if (hashtag.includes(criteria) && !isMatch) { %>
                                                    <% isMatch = true; %>
                                                    <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                                <% } %>
                                            <% }); %>
                                            <% if (!isMatch) { %>
                                                <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                            <% } %>
                                        <% }); %>
                                    </div>
                                    <% jobCount += 1; %>
                                    <% } %>
                                <% }); %>
                                <% if (jobCount == 0) { %>
                                    <div style="margin: 5px; padding: 10px; border-bottom: 2px solid #92a8d1" class="container-fluid">
                                        <h4><strong>This organisation has no jobs available :( </strong></h4>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>	
                </div>
                <div class="col-xl-8 col-lg-12">
                    <!-- Events -->		
                    <div class="modal-content">
                        <div class="card">
                            <div style="color: white" class="card-header bg-amber bg-darken-3">
                                <h4 class="card-title"><i class="ft-calendar"></i> Events</h4>
                                <a class="heading-elements-toggle">
                                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                                </a>
                            </div>
                            <div class="card-body collapse-in">
                                <div style="display: block; max-height: 200px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;" class="table-responsive">
                                    <table class="table">
                                        <thead style="color: white" class="thead bg-blue-grey bg-darken-3">
                                            <tr>
                                                <th>Deadline</th>
                                                <th style="text-align: center">Event</th> <!-- Includes info: event name, org, location, time, tags -->
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody id="eventsBody">
                                            <% let eventCount = 0; %>
                                            <% events.forEach(event => { %>
                                                <% if (event.org_name == org.name) { %> 
                                                <tr>
                                                    <% if(event.reg_deadline) { %>
                                                        <th scope="row"><%= months[event.reg_deadline.getMonth()] + ' ' + event.reg_deadline.getDate() + ', ' + event.reg_deadline.getFullYear() %></th>
                                                    <% } else { %>
                                                        <th scope="row">N/A</th>
                                                    <% } %>
                                                    <td>
                                                        <ul
                                                            <li style="font-size: 16px"><strong><%= event.name %></strong></li>
                                                            <li style="font-style: italic"><%= event.org_name %></li>
                                                            <% if(event.start_date) { %>
                                                            <li style="font-size: small">Date: <%= months[event.start_date.getMonth()] + ' ' + event.start_date.getDate() + ', ' + event.start_date.getFullYear() %></li>
                                                            <% } %>
                                                            <li style="font-size: small">At: <%= event.address %></li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <% event.hashtags.forEach(hashtag => { %>
                                                            <% var isMatch = false; %>
                                                            <% criteriaList.forEach(criteria => { %>
                                                                <% if (hashtag.includes(criteria) && !isMatch) { %>
                                                                    <% isMatch = true; %>
                                                                    <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                                                <% } %>
                                                            <% }); %>
                                                            <% if (!isMatch) { %>
                                                                <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                                            <% } %>
                                                        <% }); %>
                                                    </td>
                                                </tr>
                                                <% eventCount += 1;%>
                                                <% } %>
                                            <% }); %>
                                            <% if (eventCount == 0) { %>
                                                <tr>
                                                    <th>This org doesn't have any events at the moment :( </th>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>	
                                </div>														 
                            </div>
                        </div>													
                    </div>
                </div>       
            </div>  
        <!-- Modal Content ends here -->

        </div>
    </div>
</div>
        