<div id="<%= cardId %>" class="modal fade" role="dialog">
    <div class="modal-dialog">
           
        <!-- Modal content-->
            <div class="modal-content">
                <div style="color: white" class="card-header bg-pink bg-accent-1">
                    <h4 class="card-title" id="from-actions-top-bottom-right"><span style="width: 100px"><img src="<%= user.avatar; %>" class="rounded-circle width-50 height-50" alt="org avatar"></span> <%= user.name %></h4>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <p><label>Hashtags:</label>
                        <% var hashtags = user.interests.concat(user.skills); %>
                            <% hashtags.forEach (hashtag => { %>
                                <% var isMatch = false; %>
                                <% criteriaList.forEach(criteria => { %>
                                <% if (hashtag.includes(criteria) && !isMatch) { %>
                                    <% isMatch = true; %>
                                    <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                <% } %>
                                <% }); %>
                                <% if (!isMatch) { %>
                                <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                            <% } %>
                        <% }); %></p>  
                        <p><label>Email:</label>  <strong><%= user.email %></strong></p>
                        <p><label>Username:</label>  <strong><%= user.username %></strong></p>
                        <p><label>Introduction:</label>  <strong><%= user.intro %></strong></p>
                        <p><label>School:</label>  <strong><%= user.school %></strong></p>
                        <p><label>Resume:</label>  <strong><%= user.resume_file %></strong></p>
                        <p><label>Facebook:</label>  <strong><%= user.facebook %></strong></p>
                        <p><label>Website:</label>  <strong><%= user.website %></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>