<% var months = ["January", "February", "March", "April", "May", "June", "July","August", "September", "October","November", "December"]; %>

<div class="card modal-content">
        <div style="color: white" class="card-header bg-teal bg-lighten-1"> <!-- Card Header -->
            <h4 class="card-title"><%= org.name %></h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-large-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                </ul>
            </div>
        </div>
        <div class="card-body collapse in">
            <div class="card-block">
                <p><lable>Organisation's Description: </lable><b><%= org.desc %></b></p>
                <p><label>Hashtags:</label>
                    <% var hashtags = org.hashtags; %>
                        <% hashtags.forEach (hashtag => { %>
                            <% var isMatch = false; %>
                            <% criteriaList.forEach(criteria => { %>
                            <% if (hashtag.includes(criteria) && !isMatch) { %>
                                <% isMatch = true; %>
                                <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                            <% } %>
                            <% }); %>
                            <% if (!isMatch) { %>
                            <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                        <% } %>
                    <% }); %>
                </p>
                <p><label>Organisation's Facebook: </label>
                    <b>
                    <% if (org.facebook != "") { %>
                        <%= org.facebook %>
                    <% } else { %>
                        N/A
                    <% } %>
                    </b>
                </p>
                <p><label>Organisation's Website: </label>
                    <b>
                        <% if (org.website != "") { %>
                            <%= org.website %>
                        <% } else { %>
                            N/A
                        <% } %>
                    </b>
                </p>
                <p><label>Organisation's Email: </label>
                    <b>
                        <% if (org.email != "") { %>
                            <%= org.email %>
                        <% } else { %>
                            N/A
                        <% } %>
                    </b>
                </p>
            </div>
        </div>
    </div>
</div>
        