<% extend('../defaultLayouts/defaultLayout') %>
<% var months = ["January", "February", "March", "April", "May", "June", "July","August", "September", "October","November", "December"]; %>
<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header-row">
      <!-- TODO: deadlines -->
    </div>
    <div class="content-body">
      <!-- <div class="row"> -->
        <div style="margin-bottom: 20px;" class="row container-fluid">
          <div class="col-xl-10 col-xs-12">
              <div id="search-input" class="edit-on-delete form-control tagging" data-tags-input-name="add-box">
                <input class="type-zone" contenteditable="true">
              </div>
              <p class="text-muted">Search for events, jobs, orgs and other users with keywords (Ex: charity, design, culture,...)</p>
          </div>
          <button onclick="search()" class="col-xl-2 col-xs-12 btn btn-info" type="button"><i class="ft-search font-md-4"></i> Search</button>
        </div>
      <!-- </div> -->
      <div class="row">
        <!-- Events -->
        <div class="col-xl-8 col-lg-12">
          <div class="card">
                <div style="color: white" class="card-header bg-amber bg-darken-3">
                <h4 class="card-title"><i class="ft-calendar"></i> Events</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                </div>
                <div class="card">                    
                    <div class="table-responsive">
                        <table class="table">
                            <tbody style="color: white" class="thead bg-blue-grey bg-darken-3">  
                                <th>Deadline</th>
                                <th>Event</th>
                                <th>Hashtags</th>     
                            </tbody>        
                            <tbody id="eventsBody">
                                <% events.forEach(event => { %>
                                <% cardId = event._id; %>
                                <tr class="btn-secondary" style="border: 0" data-toggle="modal" data-target="#<%= cardId %>">
                                    <% if(event.reg_deadline) { %>
                                    <th scope="row"><%= months[event.reg_deadline.getMonth()] + ' ' + event.reg_deadline.getDate() + ', ' + event.reg_deadline.getFullYear() %></th>
                                    <% } else { %>
                                    <th scope="row">N/A</th>
                                    <% } %>
                                    <td>          
                                        <li style="font-size: 16px"><strong><%= event.name %></strong></li>
                                        <li style="font-style: italic"><%= event.org_name %></li>
                                        <% if(event.start_date) { %>
                                        <li style="font-size: small">Date: <%= months[event.start_date.getMonth()] + ' ' + event.start_date.getDate() + ', ' + event.start_date.getFullYear() %></li>
                                        <% } %>
                                        <li style="font-size: small">At: <%= event.address %></li>
                                    </td>
                                    <td>
                                    <% event.hashtags.forEach(hashtag => { %>
                                        <% var isMatch = false; %>
                                        <% criteriaList.forEach(criteria => { %>
                                        <% if (hashtag.includes(criteria) && !isMatch) { %>
                                            <% isMatch = true; %>
                                            <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                        <% } %>
                                        <% }); %>
                                        <% if (!isMatch) { %>
                                        <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                        <% } %>
                                    <% }); %>
                                    </td>
                                </tr>  
                                <%- include('eventCardModal', {event: event, months: months}); %>             
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
          </div>
        </div>
        <!-- Jobs -->
        <div class="col-xl-4 col-lg-12">
          <div class="card">
            <div style="color: white" class="card-header bg-blue bg-accent-2">
              <h4 class="card-title"><i class="ft-clipboard"></i> Jobs</h4>
              <a class="heading-elements-toggle">
                <i class="fa fa-ellipsis-v font-medium-3"></i>
              </a>
            </div>
            <div class="card-body collapse-in" id="jobsBody">
              <% jobs.forEach(job => { %>
                <div style="margin: 5px; padding: 10px; border-bottom: 2px solid #92a8d1" class="container-fluid">
                  <h4><strong><%= job.name %></strong></h4>
                  <h5 style="font-style: italic">-<%= job.org_name %>-</h5>
                  <h6>Deadline: <%= months[job.app_deadline.getMonth()] + ' ' + job.app_deadline.getDate() + ', ' + job.app_deadline.getFullYear() %></h6>
                  <% job.hashtags.forEach(hashtag => { %>
                    <% var isMatch = false; %>
                    <% criteriaList.forEach(criteria => { %>
                      <% if (hashtag.includes(criteria) && !isMatch) { %>
                        <% isMatch = true; %>
                        <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                      <% } %>
                    <% }); %>
                    <% if (!isMatch) { %>
                      <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                    <% } %>
                  <% }); %>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Orgs -->
        <div class="col-xl-8 col-lg-12">
          <div class="card">
              <div style="color: white" class="card-header bg-teal">
                <h4 class="card-title"><i class="ft-users"></i> Organizations</h4>
                <a class="heading-elements-toggle">
                  <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
              </div>
              <div class="card-body collapse-in">
                <div class="table-responsive">
                  <table class="table">
                    <thead style="color: white" class="thead bg-blue-grey bg-darken-3">
                      <tr>
                        <th style="">Avatar</th>
                        <th style="text-align: center">Organization</th> <!-- Includes info: event name, org, location, time, tags -->
                        <th>#</th>
                      </tr>
                    </thead>
                    <tbody id="orgsBody">
                      <% orgs.forEach(org => { %>
                        <% if (org.username != currentAcc.username) { %>
                          <tr>
                            <td>
                              <div class="card">
                                <img src="<%= org.avatar; %>" class="rounded-circle width-100 height-100" alt="org avatar">
                                <% if(account_type == 0) { %>
                                  <br><br>
                                  <buton id="<%= org._id %>" onclick="follow(<%= JSON.stringify(currentAcc._id) %>, <%= JSON.stringify(org._id) %>)" class="btn btn-info"><i class="fa fa-eye"></i> Follow</buton>
                                <% } %>
                              </div>
                            </td>
                            <td>
                              <ul>
                                <li style="font-size: 16px"><strong><%= org.name %></strong></li>
                                <li style="font-style: italic">@<%= org.username %></li>
                                <% if (org.facebook) { %>
                                  <li style="font-style: small"><i class="ft-facebook"></i> <%= org.facebook %></li>
                                <% } %>
                                <% if (org.email) { %>
                                  <li style="font-size: small;"><i class="ft-mail"></i> <%= org.email %></li>
                                <% } %>
                                <% if (org.website) { %>
                                  <li style="font-size: small"><i class="ft-globe"></i> <%= org.website %></li>
                                <% } %>
                                <li style="font-size: small">About: <%= org.desc %></li>
                              </ul>
                            </td>
                            <td>
                              <% org.hashtags.forEach(hashtag => { %>
                                <% var isMatch = false; %>
                                <% criteriaList.forEach(criteria => { %>
                                  <% if (hashtag.includes(criteria) && !isMatch) { %>
                                    <% isMatch = true; %>
                                    <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                  <% } %>
                                <% }); %>
                                <% if (!isMatch) { %>
                                  <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                <% } %>
                              <% }); %>
                            </td>
                          </tr>
                        <% } %>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>

        <!-- Users -->
        <div class="col-xl-4 col-lg-12">
          <div class="card">
            <div style="color: white" class="card-header bg-pink bg-accent-1">
              <h4 class="card-title"><i class="ft-user"></i> Users</h4>
              <a class="heading-elements-toggle">
                <i class="fa fa-ellipsis-v font-medium-3"></i>
              </a>
            </div>
            <div class="card-body collapse-in" id="usersBody">
              <% users.forEach( user => { %>
              <% cardId = user._id; %>
                <% if(currentAcc.username != user.username) { %>
                  <div style="margin: 5px; padding: 10px; border-bottom: 2px solid #F06292" class="container-fluid">
                    <div style="margin-bottom: 10px; width: 33%; display: flex; align-items: center" class="user-wrap">
                      <div class="user-avatar">
                        <a href="#">
                          <img src="<%= user.avatar; %>" class="rounded-circle width-50 height-50" alt="org avatar">
                        </a>
                      </div>
                      <div class="container-fluid">
                        <p style="font-size: 16px; margin: 0"><strong><%= user.name; %></strong></p>
                        <h5 style="font-style: italic">@<%= user.username; %></h5>
                      </div>
                    </div>
                    <% if (user.facebook) { %>
                      <h6><i class="ft-facebook"></i> <%= user.facebook; %></h6>
                    <% } %>
                    <h6><i class="ft-mail"></i> <%= user.email; %></h6>
                    <% var hashtags = user.interests.concat(user.skills); %>
                    <% hashtags.forEach (hashtag => { %>
                      <% var isMatch = false; %>
                      <% criteriaList.forEach(criteria => { %>
                        <% if (hashtag.includes(criteria) && !isMatch) { %>
                          <% isMatch = true; %>
                          <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                        <% } %>
                      <% }); %>
                      <% if (!isMatch) { %>
                        <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                      <% } %>
                    <% }); %>
                  </div>
                <% } %>
              <% }); %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--  BEGIN CODEDAO SCRIPT -->
<script>
  $(document).ready(function() {
    $('#search-input').tagging('removeAll');
    toastr.info("You're logged in as " + <%- JSON.stringify(currentAcc.username) %>, 'Welcome!', {positionClass: 'toast-top-center', containerId: 'toast-top-center'});
  });

  function follow(user_id, org_id) {
    let button_id = '#' + org_id;
    $(button_id).removeClass('btn-info');
    $(button_id).addClass('btn-success');
    $(button_id).html('<i class="fa fa-check"></i> Followed');
    // alert('user: ' + user_id + '; org: ' + org_id);
  }

  function search() {
    let x = document.getElementById('search-input');
    let tags = x.getElementsByTagName('div');
    let criteriaList = [];
    let inputValue;
    for (var i = 0; i < tags.length; i++) {
      inputValue = tags[i].getElementsByTagName('input')[0].value;
      criteriaList.push(inputValue);
    }
    // alert(criteriaList);
    $.ajax({
      async: true,
      url: '/search',
      method: 'GET',
      beforeSend: (req) => {
        $.blockUI();
      },
      data: {
        criteriaList: criteriaList
      },
      success: (data) => {
        console.log(typeof(data));
        document.open();
        document.write(data);
        document.close();
        $.unblockUI();
      }
    });
  }
</script>
<!-- END -->
