<% extend('../../defaultLayouts/defaultLayout') %>
<% var months = ["January", "February", "March", "April", "May", "June", "July","August", "September", "October","November", "December"]; %>

<div class="app-content content container-fluid">
        <div class="content-wrapper">
          <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-2">
              <h3 class="content-header-title mb-0">Organizations</h3>
              <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-xs-12">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/">DASHBOARD</a>
                    </li>
                    <li class="breadcrumb-item active">ORGS
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="content-body">

<!-- card actions section start -->
<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div style="color: white" class="card-header bg-teal">
          <h4 class="card-title"><i class="ft-users"></i> Organizations</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
        </div>
        <div class="card-body collapse-in">
          <div class="table-responsive">
            <table class="table">
              <thead style="color: white" class="thead bg-blue-grey bg-darken-3">
                <tr>
                  <th>Avatar</th>
                  <th style="text-align: center">Organization</th> <!-- Includes info: event name, org, location, time, tags -->
                  <th>#</th>
                </tr>
              </thead>
              <tbody id="orgsBody"> <% var index = 0; %>
                <% orgs.forEach(org => { %>
                  <% if (org.username != currentAcc.username) { %>
                    <tr>
                      <td><img src="<%= org.avatar; %>" class="rounded-circle width-100 height-100" alt="org avatar"></td>
                      <td>
                        <ul>
                          <li style="font-size: 16px"><strong><a onclick="viewjob('<%= index %>')"><%= org.name %></a></strong></li>
                          <li style="font-style: italic">@<%= org.username %></li>
                          <% if (org.facebook) { %>
                            <li style="font-style: small"><i class="ft-facebook"></i> <%= org.facebook %></li>
                          <% } %>
                          <% if (org.email) { %>
                            <li style="font-size: small;"><i class="ft-mail"></i> <%= org.email %></li>
                          <% } %>
                          <% if (org.website) { %>
                            <li style="font-size: small"><i class="ft-globe"></i> <%= org.website %></li>
                          <% } %>
                          <li style="font-size: small">About: <%= org.desc %></li>
                        </ul>
                      </td>
                      <td>
                        <% org.hashtags.forEach(hashtag => { %>
                          <% var isMatch = false; %>
                          <% criteriaList.forEach(criteria => { %>
                            <% if (hashtag.includes(criteria) && !isMatch) { %>
                              <% isMatch = true; %>
                              <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                            <% } %>
                          <% }); %>
                          <% if (!isMatch) { %>
                            <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                          <% } %>
                        <% }); %>
                      </td>
                    </tr>
                    <div class="jobModal" id='<%="jobModal" + index %>'>
                        <div class="jobModalContent content">
                             <p>Iframe :?</p>     
                        </div>
                    </div>
                    <% index += 1; %>
                  <% } %>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
<!-- card-actions section end -->

<!-- CODE DAO SCRIPTS START HERE -->
<script>

  function viewjob (index) {
    console.log("click!");
    let modal = document.getElementById("jobModal" + index);
    modal.style.display = "block";
  }

  var spans = document.getElementsByClassName("jobModalClose");
  var i;
  for (i = 0; i < spans.length; i++) {
    spans[i].onclick = function() {
      let jobModal = document.getElementById("jobModal" + i);
      jobModal.style.display = "none";
    }
  }
  

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    let i;
    let modals = document.getElementsByClassName("jobModalContent");
    for (i = 0; i < modals.length; i++) {
      if (event.target == modals[i]) {
        let jobModal = document.getElementById("jobModal" + i);
        jobModal.style.display = "none";
      }
    };
  }
</script>
<!-- ENDS -->