<% extend('../../defaultLayouts/defaultLayout.ejs'); %>
<% var months = ["January", "February", "March", "April", "May", "June", "July","August", "September", "October","November", "December"]; %>
<div class="app-content content container-fluid">

    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-2">
                <h3 class="content-header-title mb-0">Organizations</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-xs-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="/orgs">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active"><%= currentAcc.name %>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">

            <form enctype="multipart/form-data" class="form-horizontal" action="/profile/org" method="POST">
                <section>

                    <div class="row"> <!-- Overview Card -->
                        <div class="col-md-3 col-lg-3 text-xs-center"> <!-- Avatar -->
                            <fieldset>
                                <img id="ava_preview" src="<%= currentAcc.avatar %>"
                                    class="rounded-circle width-200 height-200" alt="Card image">
                                <br><br>
                                <input id="avatar" type="file" accept="image/*" name="avatar"
                                    onchange="previewImage(event)" style="text-align: right">
                            </fieldset>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="card">
                                <div style="color: white" class="card-header bg-darken bg-teal">
                                    <!-- Card Header -->
                                    <h4 class="card-title">OVERVIEW</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-large-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body collapse in">
                                    <div class="card-block">
                                        <fieldset>
                                            <!-- Name -->
                                            <label class="label-control" for="name">Name</label>
                                            <input type="text" class="form-control" value="<%= currentAcc.name %>"
                                                id="user-name" name="name" placeholder="Your org's name" required>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left"
                                            style="margin-top: 8px">
                                            <!-- Hashtags -->
                                            <label class="label-control" for="interests">#About</label>
                                            <div>
                                                <div id="hashtags-input" class="edit-on-delete form-control tagging"
                                                    data-tags-input-name="hashtags">
                                                    <input class="type-zone form-control" name="hashtags"
                                                        contenteditable="true" required>
                                                </div>
                                                <div class="form-control-position">
                                                    <i class="ft-hash" style="position: relative; top: 25px"></i>
                                                </div>
                                                <span style="font-style: italic" class="small">Enter your hashtags in
                                                    keywords (ex: youth) and 'Enter'</span>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left"
                                            style="margin-top: 5px">
                                            <!-- Facebook -->
                                            <label class="label-control" for="facebook">Facebook</label>
                                            <div>
                                                <input type="url" class="form-control" value="<%= currentAcc.facebook %>"
                                                    id="user-name" name="facebook"
                                                    placeholder="Your org's Facebook page (optional)">
                                                <div class="form-control-position">
                                                    <i class="ft-facebook" style="position: relative; top: 25px"></i>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left"
                                            style="margin-top: 5px">
                                            <!-- Website -->
                                            <label class="label-control" for="website">Website</label>
                                            <div>
                                                <input type="url" class="form-control" value="<%= currentAcc.website %>"
                                                    id="user-name" name="website"
                                                    placeholder="Your org's website (optional)">
                                                <div class="form-control-position">
                                                    <i class="ft-globe" style="position: relative; top: 25px"></i>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left"
                                            style="margin-top: 5px">
                                            <!-- Email -->
                                            <label class="label-control" for="name">Email</label>
                                            <div>
                                                <input type="email" class="form-control" id="user-email" name="email"
                                                    value="<%= currentAcc.email; %>" required>
                                                <div class="form-control-position">
                                                    <i class="ft-mail" style="position: relative; top: 25px"></i>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left"
                                            style="margin-top: 5px">
                                            <!-- Description -->
                                            <label class="label-control" for="desc">Short Intro</label>
                                            <div>
                                                <textarea row="8" cols "15" class="form-control" value="<%= currentAcc.desc %>" id="user-name"
                                                    name="desc"><%= currentAcc.desc %></textarea>
                                                <div class="form-control-position">
                                                    <i class="ft-info" style="position: relative; top: 25px"></i>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row"> <!-- Who we are + Facebook + Our Team-->            
                        <!-- Facebook embed -->
                        <% if(currentAcc.facebook != null) { %>
                        <div class="fb-page col-lg-5 col-md-5" data-width="470px" data-height="800px" data-href="<%= currentAcc.facebook %>"
                            data-tabs="timeline, events" data-small-header="false" data-adapt-container-width="false"
                            data-hide-cover="false" data-show-facepile="true"></div>
                        <% } else { %>
                        <div class="col-lg-5 col-md-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <p class="card-text"><b>Your organization's facebook page will be displayed here</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <div class="col-lg-7 col-md-7">
                            <!-- Who we are -->
                            <div class="row" id="who-we-are">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="card">
                                        <div style="color: white" class="card-header bg-red">
                                            <!-- Card Header -->
                                            <h4 class="card-title">WHO WE ARE</h4>
                                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-large-3"></i></a>
                                        </div>
                                        <div class="heading-elements">
                                            <ul class="list-inline mb-0">
                                            </ul>
                                        </div>
                                        <div class="card-body collapse-in">
                                            <div class="card-block">
                                
                                                <fieldset class="form-group position-relative has-icon-left container-fluid">
                                                    <!-- What we do -->
                                                    <label class="label-control" for="what_we_do" style="margin-top: 5px">What we do</label>
                                                    <div>
                                                        <% if(profile != null) { %>
                                                        <textarea class="form-control col-md-12 col-lg-12" value="<%= profile.what_we_do %>"
                                                            id="user-name" name="what_we_do"
                                                            style="height: 400px; font-size: 15px"><%= profile.what_we_do %></textarea>
                                                        <div class="form-control-position">
                                                            <i class="ft-info" style="position: relative; top: 30px"></i>
                                                        </div>
                                                        <% } else { %>
                                                        <textarea class="form-control col-md-12 col-lg-12"
                                                            placeholder="Describe your organization's mission" id="user-name" name="what_we_do"
                                                            style="height: 400px; font-size: 15px"></textarea>
                                                        <div class="form-control-position">
                                                            <i class="ft-info" style="position: relative; top: 25px"></i>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Our team -->
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="card" id="our-team">
                                        <div style="color: white" class="card-header bg-pink">
                                            <h4 class="card-title">OUR TEAM</h4>
                                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-large-3"></i></a>
                                        </div>
                                        <div class="heading-elements">
                                            <ul class="list-inline mb-0">
                                            </ul>
                                        </div>
                                        <div class="card-body collapse-in">
                                            <div class="card-block">
                                
                                                <fieldset class="form-group position-relative has-icon-left container-fluid">
                                                    <label class="label-control" for="our_team">Our Team</label>
                                                    <div>
                                                        <% if(profile != null) { %>
                                                        <textarea class="form-control col-md-12 col-lg-12" value="<%= profile.our_team %>"
                                                            id="user-name" name="our_team"
                                                            style="height: 65px; font-size: 15px"><%= profile.our_team %></textarea>
                                                        <div class="form-control-position">
                                                            <i class="ft-info" style="position: relative; top: 25px"></i>
                                                        </div>
                                                        <% } else { %>
                                                        <textarea class="form-control col-md-12 col-lg-12"
                                                            placeholder="Describe your organization's mission" id="user-name" name="our_team"
                                                            style="height: 65px; font-size: 15px"></textarea>
                                                        <div class="form-control-position">
                                                            <i class="ft-info" style="position: relative; top: 25px"></i>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </fieldset>
                                            </div>
                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row"> <!-- Picture Carousel -->
                        <div id="myCarousel" class="carousel slide">
                        </div>
                    </div>
                    <br>

                    <div class="row"> <!-- Jobs and events -->
                        <div class="col-lg-6 col-xl-6 col-md-6">
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-6">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                <!-- Jobs -->
                                    <div class="card">
                                        <div style="color: white" class="card-header bg-blue bg-accent-2">
                                            <h4 class="card-title"><i class="ft-clipboard"></i> Jobs</h4>
                                            <a class="heading-elements-toggle">
                                                <i class="fa fa-ellipsis-v font-medium-3"></i>
                                            </a>
                                        </div>
                                        <div style="display: block; max-height: 300px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;"
                                            class="card-body collapse-in">
                                            <% let jobCount = 0; %>
                                            <% jobs.forEach(job => { %>
                                            <% if(job.org_name == org.name) { %>
                                            <div style="margin: 5px; padding: 10px; border-bottom: 2px solid #92a8d1" class="container-fluid">
                                                <h4><strong><%= job.name %></strong></h4>
                                                <h5 style="font-style: italic">-<%= job.org_name %>-</h5>
                                                <h6>Deadline:
                                                    <%= months[job.app_deadline.getMonth()] + ' ' + job.app_deadline.getDate() + ', ' + job.app_deadline.getFullYear() %>
                                                </h6>
                                                <% job.hashtags.forEach(hashtag => { %>
                                                <% var isMatch = false; %>
                                                <% criteriaList.forEach(criteria => { %>
                                                <% if (hashtag.includes(criteria) && !isMatch) { %>
                                                <% isMatch = true; %>
                                                <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                                <% } %>
                                                <% }); %>
                                                <% if (!isMatch) { %>
                                                <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                                <% } %>
                                                <% }); %>
                                            </div>
                                            <% jobCount += 1; %>
                                            <% } %>
                                            <% }); %>
                                            <% if (jobCount == 0) { %>
                                            <div style="margin: 5px; padding: 10px; border-bottom: 2px solid #92a8d1" class="container-fluid">
                                                <h4>You have no open job positions. <a href="jobs/manage">Click here to add one</a></h4>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Events -->
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="card">
                                        <div style="color: white" class="card-header bg-amber bg-darken-1">
                                            <h4 class="card-title"><i class="ft-calendar"></i> Events</h4>
                                            <a class="heading-elements-toggle">
                                                <i class="fa fa-ellipsis-v font-medium-3"></i>
                                            </a>
                                        </div>
                                        <div class="card"
                                            style="display: block; max-height: 500px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;">
                                            <div class="table-responsive">
                                                <table class="table" style="margin-bottom: 0px">
                                                    <tbody id="eventsBody">
                                                        <% let eventCount = 0; %>
                                                        <% events.forEach(event => { %>
                                                        <tr class="btn-secondary">
                                                            <% if(event.reg_deadline) { %>
                                                            <th style="width:50px">
                                                                <%= months[event.reg_deadline.getMonth()] + ' ' + event.reg_deadline.getDate() + ', ' + event.reg_deadline.getFullYear() %>
                                                            </th>
                                                            <% } else { %>
                                                            <th style="width:50px">N/A</th>
                                                            <% } %>
                                                            <td style="max-width: 130px">
                                                                <li style="font-size: 16px"><strong><%= event.name %></strong></li>
                                                                <li style="font-style: italic"><%= event.org_name %></li>
                                                                <% if(event.start_date) { %>
                                                                <li style="font-size: small">Date:
                                                                    <%= months[event.start_date.getMonth()] + ' ' + event.start_date.getDate() + ', ' + event.start_date.getFullYear() %>
                                                                </li>
                                                                <% } %>
                                                                <li style="font-size: small">At: <%= event.address %></li>
                                                            </td>
                                                            <td style="max-width: 120px">
                                                                <div class="media-left">
                                                                    <button class="btn btn-info"
                                                                        onclick="showEventHashtags(<%= JSON.stringify(event._id) %>)">Show
                                                                        hashtags</button>
                                                                </div>
                                                                <div class="media-body">
                                                                    <% if (account_type == 0 && currentAcc.events.indexOf(event._id) < 0) { %>
                                                                    <button id="<%= event._id %>3" class="btn btn-info"
                                                                        onclick="addEvent(<%= JSON.stringify(event._id) %>, <%= JSON.stringify(currentAcc._id) %>)">Interested</button>
                                                                    <% } else if (account_type == 0 && currentAcc.events.indexOf(event._id) >= 0) { %>
                                                                    <button id="<%= event._id %>3" class="btn btn-success"
                                                                        onclick="removeEvent(<%= JSON.stringify(event._id) %>, <%= JSON.stringify(currentAcc._id) %>)">Interested</button>
                                                                    <% } %>
                                                                </div>
                                                                <br>
                                                                <div id="<%= event._id %>2" class="hashes">
                                                                    <% event.hashtags.forEach(hashtag => { %>
                                                                    <% var isMatch = false; %>
                                                                    <% criteriaList.forEach(criteria => { %>
                                                                    <% if (hashtag.includes(criteria) && !isMatch) { %>
                                                                    <% isMatch = true; %>
                                                                    <span style="font-size: 14px"
                                                                        class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                                                    <% } %>
                                                                    <% }); %>
                                                                    <% if (!isMatch) { %>
                                                                    <span style="font-size: 14px"
                                                                        class="tag tag-pill tag-info"><%= hashtag; %></span>
                                                                    <% } %>
                                                                    <% }); %>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% eventCount++; %>
                                                        <% }); %>
                                                        <% if(eventCount == 0) { %>
                                                        <tr style="border-bottom: 2px solid #ec6416;">
                                                            <th style="margin: 5px; padding: 10px">
                                                                You has no upcoming event. <a href="events/manage">Click here to add one.</a>
                                                            </th>
                                                        </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row"> <!-- Submit button -->
                        <div class="form-actions text-xs-center">
                            <button id="submitBtn" onclick="freezeBtn();" type="submit" class="btn btn-lg btn-outline-info">Save changes</button>
                        </div>                 
                    </div>

                </section>
            </form>

        </div>
    </div>

</div>

<!-- Facebook embed script starts -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Facebook embed script ends -->

<!-- ChanceMap Code -->
<script>
    function follow(user_id, org_id, org_username) {
        let button_id = '#' + org_id;
        $(button_id).removeClass('btn-info');
        $(button_id).addClass('btn-success');
        $(button_id).html('<i class="fa fa-check"></i> Followed');
        $(button_id).attr('onclick', 'unfollow("' + user_id + '","' + org_id + '","' + org_username + '")');

        let formData = new FormData();
        formData.append("org_id", org_id);
        formData.append("user_id", user_id);
        formData.append('follow', "true");

        $.ajax({
            async: true,
            url: '/follow',
            method: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: (data) => {
                toastr.success('You started following ' + org_username, 'Followed!');
            }
        });
    }

    function unfollow(user_id, org_id, org_username) {
        let button_id = '#' + org_id;
        $(button_id).removeClass('btn-success');
        $(button_id).addClass('btn-info');
        $(button_id).html('<i class="fa fa-eye"></i> Follow');
        $(button_id).attr('onclick', 'follow("' + user_id + '","' + org_id + '","' + org_username + '")');

        let formData = new FormData();
        formData.append("org_id", org_id);
        formData.append("user_id", user_id);
        formData.append("follow", 'false');

        $.ajax({
            async: true,
            url: '/follow',
            method: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: (data) => {
                toastr.warning('You have unfollowed ' + org_username, 'Unfollowed!');
            }
        });
    }

    function previewImage(event) {
        let reader = new FileReader();
        reader.onload = function () {
            let output = document.getElementById('ava_preview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }

    function freezeBtn() {
        document.getElementById('submitBtn').disabled = true;
        $('form').submit();
    }

    $(document).ready(function() {
        let hashtags = <%- JSON.stringify(currentAcc.hashtags) %>;
        console.log("hashtags: " + hashtags);
        $('#hashtags-input').tagging('removeAll');
        hashtags.forEach(hashtag => {
        $('#hashtags-input').tagging('add', hashtag);
        });
    });

    
    $(document).ready(function() {
        $('.fb-page').attr("data-height", $('#who-we-are').height() + $('#our-team').innerHeight());
        $('.fb-page').attr("data-width", $('.fb-page').innerWidth());
    });

</script>