<div class="card-block" style="margin-right: 20%; margin-left: 20%">
  <form enctype="multipart/form-data" class="form-horizontal" action="/profile/org" method="POST">
    <!-- Avatar -->
    <fieldset>
      <div class="text-xs-center">
        <div class="card-block">
          <img id="ava_preview" src="<%= currentAcc.avatar %>" class="rounded-circle width-200 height-200" alt="Card image">
          <br><br>
          <input id="avatar" type="file" accept="image/*" name="avatar" onchange="previewImage(event)">
        </div>
      </div>
    </fieldset><br>
    <!-- Name -->
    <fieldset class="form-group position-relative has-icon-left">
      <label class="col-md-2 label-control" for="name">Name</label>
      <div class="col-md-10">
        <input type="text" class="form-control" value="<%= currentAcc.name %>" id="user-name" name="name" placeholder="Your org's name" required>
        <div class="form-control-position">
          <i class="ft-users"></i>
        </div>
      </div>
    </fieldset>
    <fieldset class="hidden form-group position-relative has-icon-left">
      <label class="col-md-2 label-control" for="name">Email</label>
      <div class="col-md-10">
        <input type="email" class="form-control" id="user-email" name="email" value="<%= currentAcc.email; %>" required>
        <div class="form-control-position">
          <i class="ft-mail"></i>
        </div>
      </div>
    </fieldset>
    <!-- Hashtags-->
    <fieldset class="form-group position-relative has-icon-left">
      <label class="col-md-2 label-control" for="interests">#About</label>
      <div class="col-md-10">
        <div id="hashtags-input" class="edit-on-delete form-control tagging" data-tags-input-name="hashtags">
          <input class="type-zone form-control" name="hashtags" contenteditable="true" required>
        </div>
        <div class="form-control-position">
          <i class="ft-hash" style="position: relative; top: -5px"></i>
        </div>
        <span style="font-style: italic" class="small">Enter your hashtags in keywords (ex: youth) and 'Enter'</span>
      </div>
    </fieldset>
    <!-- Description -->
    <fieldset class="form-group position-relative has-icon-left">
      <label class="col-md-2 label-control" for="desc">Short Intro</label>
      <div class="col-md-10">
        <textarea row="8" cols "15" class="form-control" value="<%= currentAcc.desc %>" id="user-name" name="desc"><%= currentAcc.desc %></textarea>
        <div class="form-control-position">
          <i class="ft-info"></i>
        </div>
      </div>
    </fieldset>
    <!-- Facebook -->
    <fieldset class="form-group position-relative has-icon-left">
      <label class="col-md-2 label-control" for="facebook">Facebook</label>
      <div class="col-md-10">
        <input type="url" class="form-control" value="<%= currentAcc.facebook %>" id="user-name" name="facebook" placeholder="Your org's Facebook page (optional)">
        <div class="form-control-position">
          <i class="ft-facebook"></i>
        </div>
      </div>
    </fieldset>
    <!-- Website -->
    <fieldset class="form-group position-relative has-icon-left">
      <label class="col-md-2 label-control" for="website">Website</label>
      <div class="col-md-10">
        <input type="url" class="form-control" value="<%= currentAcc.website %>" id="user-name" name="website" placeholder="Your org's website (optional)">
        <div class="form-control-position">
          <i class="ft-globe"></i>
        </div>
      </div>
    </fieldset>

    <!-- Hidden fields -->
    <fieldset class="hidden form-group position-relative has-icon-left">
      <input type="hidden" class="form-control" id="user-name" name="username" value="<%= currentAcc.username; %>" required>
      <div class="form-control-position">
        <i class="ft-user"></i>
      </div>
    </fieldset>
    <fieldset class="hidden form-group position-relative has-icon-left">
      <input type="hidden" class="form-control" id="user-password" name="password" value="<%= currentAcc.password; %>" required>
      <div class="form-control-position">
        <i class="fa fa-key"></i>
      </div>
    </fieldset>

    <div class="form-actions center">
      <button id="submitBtn" onclick="freezeBtn();" type="submit" class="btn btn-lg btn-outline-info">Submit</button>
    </div>
  </form>
</div>

<!-- BEGIN CODEDAO SCRIPT -->
<script>
  function previewImage(event) {
    let reader = new FileReader();
    reader.onload = function() {
      let output = document.getElementById('ava_preview');
      output.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
  }

  function freezeBtn() {
    document.getElementById('submitBtn').disabled = true;
    $('form').submit();
  }

  $(document).ready(function() {
    let hashtags = <%- JSON.stringify(currentAcc.hashtags) %>;
    console.log("hashtags: " + hashtags);
    $('#hashtags-input').tagging('removeAll');
    hashtags.forEach(hashtag => {
      $('#hashtags-input').tagging('add', hashtag);
    });
  });
</script>
<!-- END -->
