<% extend('../../defaultLayouts/defaultLayout.ejs'); %>
<% var months = ["January", "February", "March", "April", "May", "June", "July","August", "September", "October","November", "December"]; %>
<div class="app-content content container-fluid">
    
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
            <h3 class="content-header-title mb-0">Organizations</h3>
            <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a>
                </li>
                <li class="breadcrumb-item"><a href="/orgs">Dashboard</a>
                </li>
                <li class="breadcrumb-item active"><%= org.name %>
                </li>
                </ol>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="content-body">
        <div class="section">

            <div style="margin-left: 5px; margin-right: 5px" class="row-fluid"> <!-- Overview Card -->
                <div class="col-md-3 col-lg-3">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-6 col-lg-6">
                        <img id="avatar" src='<%=  org.avatar; %>' class="rounded-circle width-200 height-200" alt="Card image">
                        <br><br>
                        <% if(account_type == 0 && (currentAcc.following.indexOf(org.username) < 0)) { %>
                            <div class="col-md-3"></div>
                            <div class="col-md-3" >
                            <buton id="<%= org._id %>" onclick="follow(<%= JSON.stringify(currentAcc._id) %>, <%= JSON.stringify(org._id) %>, <%= JSON.stringify(org.username) %>)" class="btn btn-lg btn-info"><i class="fa fa-eye"></i> Follow</buton>
                            </div>
                        <% } else if (account_type == 0 && (currentAcc.following.indexOf(org.username) >= 0)) { %>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                            <buton id="<%= org._id %>" onclick="unfollow(<%= JSON.stringify(currentAcc._id) %>, <%= JSON.stringify(org._id) %>, <%= JSON.stringify(org.username) %>)"class="btn btn-lg btn-success"><i class="fa fa-check"></i> Followed</buton>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-md-4 col-lg-4"></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="card modal-content">
                        <div style="color: white" class="card-header bg-darken bg-teal"> <!-- Card Header -->
                            <h4 class="card-title">OVERVIEW</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-large-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <p><lable>Name: </lable><b style="font-size: 30"><%= org.name %></b></p>
                                <p><label>Hashtags:</label>
                                    <% var hashtags = org.hashtags; %>
                                        <% hashtags.forEach (hashtag => { %>
                                            <% var isMatch = false; %>
                                            <% criteriaList.forEach(criteria => { %>
                                            <% if (hashtag.includes(criteria) && !isMatch) { %>
                                                <% isMatch = true; %>
                                                <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                            <% } %>
                                            <% }); %>
                                            <% if (!isMatch) { %>
                                            <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                        <% } %>
                                    <% }); %>
                                </p>
                                <p><label>Our Facebook: </label>
                                    <b>
                                    <a href="<%= org.facebook %>" style="font-style: medium">
                                    <% if (org.facebook != "") { %>
                                        <%= org.facebook %>
                                    <% } else { %>
                                        N/A
                                    <% } %>
                                    </a>    
                                    </b>
                                </p>
                                <p><label>Our Website: </label>
                                    <b>
                                        <% if (org.website != "") { %>
                                            <%= org.website %>
                                        <% } else { %>
                                            Not available
                                        <% } %>
                                    </b>
                                </p>
                                <p><label>Our Email: </label>
                                    <b>
                                        <% if (org.email != "") { %>
                                            <%= org.email %>
                                        <% } else { %>
                                            N/A
                                        <% } %>
                                    </b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div style="margin-left: 5px; margin-right: 5px" class="row"> <!-- Who we are + Facebook + Our Team-->
                <!-- Facebook embed -->
                <div class="col-lg-5 col-md-5">
                    <div class="fb-page" data-width="700px" data-height="700px" data-href="<%= org.facebook %>" data-tabs="timeline, events" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"></div>
                </div>
                <div class="col-lg-7 col-md-7">

                    <div class="row"> <!-- Who we are -->
                        <div class="card modal-content">
                            <div style="color: white" class="card-header bg-red"> <!-- Card Header -->
                                <h4 class="card-title">WHO WE ARE</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-large-3"></i></a>
                            </div> 
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                </ul>
                            </div>
                            <div class="card-body collapse-in">
                                <div class="card-block">

                                    <div style="font-size: 15px"><label><b>What we do:</label></b>
                                        <% let orgDesc = page.what_we_do; %>
                                        <% let res = orgDesc.split("/"); %>
                                        <% res.forEach(para => { %>
                                            <p> <%= para %> </p>
                                        <% }); %>
                                    </div>

                                    <br><br>
                                    <p><b><label>Our story:</label></b> <%= org.desc %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card modal-content">
                            <div style="color: white" class="card-header bg-pink">
                                <h4 class="card-title"><i class="ft-users"></i> Our Team</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                    </ul>
                                </div>     
                            </div>
                            <div class="card-body collapse-in">
                                <div class="card-block">
                                    <p><b><label>Our Team:</label></b> <%= page.our_team %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div style="margin-left: 5px; margin-right: 5px" class="row"> <!-- Jobs + events -->
              
            </div>
            <br>
    
            <div style="margin-left: 5px; margin-right: 5px" class="row"> <!-- Picture Carousel -->   
                <div id="myCarousel" class="carousel slide">
                </div>  
            </div>
            <br>

            <div style="margin-left: 5px; margin-right: 5px" class="row-fluid"> <!-- Similar Orgs -->
                <div class="col-lg-6 col-xl-6 col-md-6">
                    <div class="modal-content">
                        <div class="content-header">
                            <div style="color: white" class="card-header bg-purple bg-lighten-1">
                                <h4 class="card-title"><i class="ft-users"></i> Similar Organizations</h4>
                                <a class="heading-elements-toggle">
                                <i class="fa fa-ellipsis-v font-medium-3"></i>
                                </a>
                            </div>
                            <div class="collapse-in">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody class="card-body" id="orgsBody">
                                        <% var i = 0; %>
                                        <% while(i < 3) { %>
                                            <% var org = orgs[i]; %>
                                            <% if (org.username != currentAcc.username) { %>
                                                <% let cardId = org._id; %>
                                                <tr>
                                                    <td>
                                                        <a><img onclick="window.location.href='<%= org.username %>'" src="<%= org.avatar %>" class="btn-secondary rounded-circle width-100 height-1000" alt="org avatar"></a>
                                                        <% if(account_type == 0 && (currentAcc.following.indexOf(org.username) < 0)) { %>
                                                            <br><br>
                                                            <buton id="<%= org._id %>" onclick="follow(<%= JSON.stringify(currentAcc._id) %>, <%= JSON.stringify(org._id) %>, <%= JSON.stringify(org.username) %>)" class="btn btn-info"><i class="fa fa-eye"></i> Follow</buton>
                                                        <% } else if (account_type == 0 && (currentAcc.following.indexOf(org.username) >= 0)) { %>
                                                            <br><br>
                                                            <buton id="<%= org._id %>" onclick="unfollow(<%= JSON.stringify(currentAcc._id) %>, <%= JSON.stringify(org._id) %>, <%= JSON.stringify(org.username) %>)"class="btn btn-success"><i class="fa fa-check"></i> Followed</buton>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                    <li style="margin-bottom: 16px; font-size: 16px"><strong><%= org.name %></strong></li>
                                                    <% org.hashtags.forEach(hashtag => { %>
                                                        <% var isMatch = false; %>
                                                        <% criteriaList.forEach(criteria => { %>
                                                        <% if (hashtag.includes(criteria) && !isMatch) { %>
                                                            <% isMatch = true; %>
                                                            <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                                        <% } %>
                                                        <% }); %>
                                                        <% if (!isMatch) { %>
                                                        <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                                        <% } %>
                                                    <% }); %>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% i++; %>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6">
                    <div class="row"> <!-- Jobs -->
                        <div class="card modal-content">
                            <div style="color: white" class="card-header bg-blue bg-accent-2">
                                <h4 class="card-title"><i class="ft-clipboard"></i> Jobs</h4>
                                <a class="heading-elements-toggle">
                                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                                </a>
                            </div>
                            <div style="display: block; max-height: 300px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;" class="card-body collapse-in">
                                <% let jobCount = 0; %>
                                <% jobs.forEach(job => { %>
                                    <% if(job.org_name == org.name) { %>
                                    <div style="margin: 5px; padding: 10px; border-bottom: 2px solid #92a8d1" class="container-fluid">
                                        <h4><strong><%= job.name %></strong></h4>
                                        <h5 style="font-style: italic">-<%= job.org_name %>-</h5>
                                        <h6>Deadline: <%= months[job.app_deadline.getMonth()] + ' ' + job.app_deadline.getDate() + ', ' + job.app_deadline.getFullYear() %></h6>
                                        <% job.hashtags.forEach(hashtag => { %>
                                            <% var isMatch = false; %>
                                            <% criteriaList.forEach(criteria => { %>
                                                <% if (hashtag.includes(criteria) && !isMatch) { %>
                                                    <% isMatch = true; %>
                                                    <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                                <% } %>
                                            <% }); %>
                                            <% if (!isMatch) { %>
                                                <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                            <% } %>
                                        <% }); %>
                                    </div>
                                    <% jobCount += 1; %>
                                    <% } %>
                                <% }); %>
                                <% if (jobCount == 0) { %>
                                    <div style="margin: 5px; padding: 10px; border-bottom: 2px solid #92a8d1" class="container-fluid">
                                        <h4>This organisation has no jobs available</h4>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- Events -->
                        <div class="card">
                            <div style="color: white" class="card-header bg-amber bg-darken-3">
                                <h4 class="card-title"><i class="ft-calendar"></i> Events</h4>
                                <a class="heading-elements-toggle">
                                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                                </a>
                            </div>
                            <div class="card-body collapse-in">
                                <div style="display: block; max-height: 300px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;" class="table-responsive">
                                    <table class="table">
                                        <thead style="color: white" class="thead bg-blue-grey bg-darken-3">
                                            <tr>
                                                <th>Deadline</th>
                                                <th style="text-align: center">Event</th> <!-- Includes info: event name, org, location, time, tags -->
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody id="eventsBody">
                                            <% let eventCount = 0; %>
                                            <% events.forEach(event => { %>
                                                <% if (event.org_name == org.name) { %>
                                                <tr>
                                                    <% if(event.reg_deadline) { %>
                                                        <th scope="row"><%= months[event.reg_deadline.getMonth()] + ' ' + event.reg_deadline.getDate() + ', ' + event.reg_deadline.getFullYear() %></th>
                                                    <% } else { %>
                                                        <th scope="row">N/A</th>
                                                    <% } %>
                                                    <td>
                                                        <ul
                                                            <li style="font-size: 16px"><strong><%= event.name %></strong></li>
                                                            <li style="font-style: italic"><%= event.org_name %></li>
                                                            <% if(event.start_date) { %>
                                                            <li style="font-size: small">Date: <%= months[event.start_date.getMonth()] + ' ' + event.start_date.getDate() + ', ' + event.start_date.getFullYear() %></li>
                                                            <% } %>
                                                            <li style="font-size: small">At: <%= event.address %></li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <% event.hashtags.forEach(hashtag => { %>
                                                            <% var isMatch = false; %>
                                                            <% criteriaList.forEach(criteria => { %>
                                                                <% if (hashtag.includes(criteria) && !isMatch) { %>
                                                                    <% isMatch = true; %>
                                                                    <span style="font-size: 14px" class="tag tag-pill tag-warning"><%= hashtag; %></span>
                                                                <% } %>
                                                            <% }); %>
                                                            <% if (!isMatch) { %>
                                                                <span style="font-size: 14px" class="tag tag-pill tag-info"><%= hashtag; %></span>
                                                            <% } %>
                                                        <% }); %>
                                                    </td>
                                                </tr>
                                                <% eventCount += 1;%>
                                                <% } %>
                                            <% }); %>
                                            <% if (eventCount == 0) { %>
                                                <tr>
                                                    <th>This org doesn't have any events at the moment</th>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <!-- <div style="margin-left: 5px; margin-right: 5px" class="row"> 
                <div class="col-xl-4 col-lg-12"> 
                    <div class="modal-content">
                        <div class="card">
                            <div style="color: white" class="card-header bg-purple">
                                <h4 class="card-title"><i class="ft-users"></i> Our Team</h4>
                                <a class="heading-elements-toggle">
                                <i class="fa fa-ellipsis-v font-medium-3"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <br>

        </div>  
    </div>
    
</div>

<!-- Facebook embed script starts -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Facebook embed script ends -->

<!-- ChanceMap Code -->
<script>
function follow(user_id, org_id, org_username) {
    let button_id = '#' + org_id;
    $(button_id).removeClass('btn-info');
    $(button_id).addClass('btn-success');
    $(button_id).html('<i class="fa fa-check"></i> Followed');
    $(button_id).attr('onclick', 'unfollow("'+ user_id + '","' + org_id +'","' + org_username +'")');

    let formData = new FormData();
    formData.append("org_id", org_id);
    formData.append("user_id", user_id);
    formData.append('follow', "true");

    $.ajax({
        async: true,
        url: '/follow',
        method: 'POST',
        processData: false,
        contentType: false,
        data: formData,
        success: (data) => {
            toastr.success('You started following ' + org_username, 'Followed!');
        }
    });
}

function unfollow(user_id, org_id, org_username) {
    let button_id = '#' + org_id;
    $(button_id).removeClass('btn-success');
    $(button_id).addClass('btn-info');
    $(button_id).html('<i class="fa fa-eye"></i> Follow');
    $(button_id).attr('onclick', 'follow("' + user_id + '","' + org_id +'","' + org_username +'")');

    let formData = new FormData();
    formData.append("org_id", org_id);
    formData.append("user_id", user_id);
    formData.append("follow", 'false');

    $.ajax({
        async: true,
        url: '/follow',
        method: 'POST',
        processData: false,
        contentType: false,
        data: formData,
        success: (data) => {
            toastr.warning('You have unfollowed ' + org_username, 'Unfollowed!');
        }
        });
}
</script>